############################
# OS / Editor
############################
.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv/
venv/
ENV/
env/

############################
# PyTorch / ML
############################
*.pt
*.pth
*.ckpt
*.onnx
*.engine
*.trt

############################
# Training Outputs
############################
runs/
logs/
tensorboard/
tb/
wandb/
mlruns/

############################
# RL / Gym
############################
videos/
recordings/
monitor/
*.mp4
*.avi

############################
# Datasets
############################
data/
test/
datasets/
*.zip
*.tar
*.tar.gz

############################
# Numpy / Cache
############################
*.npy
*.npz
.cache/

############################
# Build / Distribution
############################
build/
dist/
*.egg-info/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Git
############################
.gitkeep


############################
# db
############################
*.db

############################
# model weights
############################
utils/models/
utils/joytag/
utils/llama-joycaption-beta-one-hf-llava/
